<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= find_youtube_url(@post.youtube_url) %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<% @post.tags.each do |tag| %>
    <span><%= tag.name %></span>
<% end %>