<div class="aoisen">
    <div class="aoisen1"><%= link_to 'TOP', :controller => "posts", :action => "top" %></div>
    <div class="aoisen2"><%= link_to '曲を探す', :controller => "posts", :action => "index" %></div>
    <%= link_to '曲を共有', :controller => "posts", :action => "new" %>
</div>

    <div class="bun1">MSPへようこそ。</div>
    <div class="bun2">本サイトは、Music Shere Platform、つまり音楽を共有するサイトです。</div>
    <div class="bun3">あなたは、初めて触れたアーティストの曲の中から、自分に合った曲を探すことに困ったことはありませんか？</div>
    <div class="bun4">このサイトでは、それぞれのアーティストのファンのみんなが、曲を種類別に分けて共有してくれて、ファンになりたての人が曲を探しやすくなるようにしてくれます。</div>
    <div class="bun5">ファンの誰もがパトロンになれる。好きなアーティストのファンを広げる一員になれる。</div>
    <div class="bun6">そしてもっと多くの人が、もっとたくさんの音楽に触れてほしい。そんな願いを込めたプラットフォームです。</div>
    <div class="bun7">さぁ、あなたも、好きなアーティストの曲を共有しましょう。</div>
    <div class="bun8">そして、未知なる曲を探してみましょう。</div>