body {margin: 0;
    width: 100vw;
    height: 100vh;
    background-color:antiquewhite;}

.version1{font-size: large;
    display: table-cell;
    font-weight: bold;
    font-size: 30px;
    vertical-align: middle;
    height: 5vmax;
    color:deepskyblue;
    letter-spacing:0.2em;;
    padding-left:2em;}

.version2{font-family:"MS 明朝";
    font-weight: 500;
    display: flex;
    justify-content: right;
    font-size: 15px;
    align-items: center;     /*上下中央揃え*/
    padding-right: 65px;
    height: 50px;
    text-align:right;
    background-color:aquamarine;}

.field{margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 60px;}

.version3{margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;}