.aoisen{
    display: flex;
    justify-content: right;
    align-items: center;     /*上下中央揃え*/
    padding-right: 60px;
    height: 50px;
    text-align:right;
    background-color:aquamarine;
}

.aoisen1{
    margin-right: 40px;
}

.aoisen2{
    margin-right: 40px;
}

.bun1{
    text-align: center;
    margin-top: 40px;
    letter-spacing: 0.1em ;
    font-size: 27px;
}

.bun2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bun3{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bun4{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bun5{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bun6{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bun7{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bun8{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer{
    color: black;
    height: 30px;
    align-items: center;
    background-color: aquamarine;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.15em ;
}